@page
@model AdminModel
@{
    ViewData["Title"] = "Admin Access";
}
<h1>@ViewData["Title"]</h1>
<header>

    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck1" checked="" autocomplete="off">
        <label class="btn btn-primary" for="btncheck1">Admin Search</label>

        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-primary" for="btncheck2"> HR Search</label>

        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
        <label class="btn btn-primary" for="btncheck3">Track Field Worker</label>

        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
        <label class="btn btn-primary" for="btncheck3">Account Info</label>
    </div>

</header>

<br/>

<button type="button" class="btn btn-outline-info">New Employee</button>
<button type="button" class="btn btn-outline-danger">Delete Employee</button>

<br />
    
    <form id="EmployeeSearch">
        <h3>Employee Search</h3>
            <div class="form-group">
                <label for="employeeIDinput" class="form-label mt-4">Employee ID</label>
                <input type="text" class="form-control" id="employeeIDinput" placeholder="12345">
            </div>

            <div class="form-group">
                <label for="employeeFirstNameinput" class="form-label mt-4">Employee Name</label>
                <input type="text" class="form-control" id="employeeFirstNameinput" placeholder="John Doe">
            </div>

            <div class="form-group">
                <label for="employeeLastNameinput" class="form-label mt-4">Employee Name</label>
                <input type="text" class="form-control" id="employeeLastNameinput" placeholder="John Doe">
            </div>

        <button type="button" class="btn btn-outline-primary">Search</button>
        <div class="form-group">
            <label for="adminSearchList" class="form-label mt-4">Employee Search</label>
            <select multiple="" class="form-select" id="adminSearchList">
                <option>1</option>
                <option>2</option>
            </select>

        <button type="button" class="btn btn-outline-success">Select</button>
        </div>
    </form>
