@page
@model WebEmployeeApp.Pages.DeleteEmployeeModel
@{
}

<header>
    <h1>Delete Employee</h1>
</header>
<body>
    <div class="form-group">
        <label for="searchList" class="form-label mt-4">Search List</label>
        <select multiple="" class="form-select" id="searchList">
        </select>
    </div>
    <br />
    <div>
        <button type="button" class="btn btn-outline-danger">Delete Employee</button>
    </div>
    <br />
    <br />

    <button type="button" class="btn btn-outline-primary text-center">Go Back</button>
</body>