@page
@model WebEmployeeApp.Pages.WorkerModel
@{
    ViewData["Title"] = "Employee Access";
}
<header>
<div>
        <button type="button" class="btn btn-outline-info">Tracker</button>
        <button type="button" class="btn btn-outline-info">Account Info</button>
</div>
</header>
<body>
<h1> Employee Access</h1>

    <form id="timeCardForm" runat="server">
        <div class="text-center">
            <h1>Timecard</h1>
            <div>
                
                <button type="button" class="btn btn-outline-dark">Start Workday</button>
                <br />
                <input class="form-control" id="startTimeinput" type="text" placeholder="Start Time" disabled="">
                <br />    
            </div>
            <br/>
            
            <div>
               
                <button type="button" class="btn btn-outline-dark">Start Break</button>
                <input class="form-control" id="breakTimeinput" type="text" placeholder="Break Time" disabled="">
                <br />
            </div>
            <br/>
            
          <div>
               
                <button type="button" class="btn btn-outline-dark">End Break</button>
                <input class="form-control" id="breakTimeEndinput" type="text" placeholder="Break Time" disabled="">
                <br />
                
          </div>
          <br/>
            <div>
                
                <button type="button" class="btn btn-outline-success">End Workday</button>
                <input class="form-control" id="endTimeinput" type="text" placeholder="End Time" disabled="">
                <br />              
            </div>

        </div>
        <br/>
        <button type="button" class="btn btn-outline-primary">Submit</button>
    </form>
   
</body>