@page
@model WebEmployeeApp.Pages.HRModel
@{
    ViewData ["Title"] = "HR Access";
}
<header>

   <div>
           <button type="button" class="btn btn-outline-info">Tracker</button>
        <button type="button" class="btn btn-outline-info">Account Info</button>
    </div>
</header>
<body>
<h1> HR Access </h1>

        <form id="EmployeeSearch">

        <legend>Employee Search:</legend>
            <div class="form-group">
                <label for="employeeIDinput" class="form-label mt-4">Employee ID</label>
                <input type="text" class="form-control" id="employeeIDinput" placeholder="12345">
            </div>

            <div class="form-group">
                <label for="employeeFirstNameinput" class="form-label mt-4">Employee Name</label>
                <input type="text" class="form-control" id="employeeFirstNameinput" placeholder="John">
            </div>

            <div class="form-group">
                <label for="employeeLastNameinput" class="form-label mt-4">Employee Name</label>
                <input type="text" class="form-control" id="employeeLastNameinput" placeholder="Doe">
            </div>

            <div class="form-group">
                <label for="employeeEmailinput" class="form-label mt-4">Employee Email</label>
                <input type="text" class="form-control" id="employeeEmailinput" placeholder="johnDoe@email.com"/>
            </div>
            
           <div class="form-group">
                <label for="employeePhoneinput" class="form-label mt-4">Employee Phone</label>
                <input type="text" class="form-control" id="employeePhoneinput" placeholder="123456789" />
           </div>
           
          <div class="form-group">
                    <label for="employeePositioninput" class="form-label mt-4">Employee Position</label>
                    <input type="text" class="form-control" id="employeePositioninput" placeholder="Worker,Admin,HR" />
          </div>
        <br />
        <button type="button" class="btn btn-outline-primary text-center">Search</button>
        <button type="button" class="btn btn-outline-secondary text-center">Reset</button>

        <div class="form-group">
            <label for="searchList" class="form-label mt-4">Search List</label>
            <select multiple="" class="form-select" id="searchList">
              
            </select>
        </div>
       
        <br/>

        <button type="button" class="btn btn-outline-success text-center">Select</button>
        </form>


</body>