@page
@model WebEmployeeApp.Pages.HRModel
@{
    ViewData ["Title"] = "HR Access";
}
<body>
<h1> HR Access </h1>

        <h2>You can update employee information here</h2>

        <form id="EmployeeSearch">

            <div class="form-group">
                <label for="employeeIDinput" class="form-label mt-4">Employee ID</label>
                <input type="text" class="form-control" id="employeeIDinput" placeholder="12345">
            </div>

            <div class="form-group">
                <label for="employeeFirstNameinput" class="form-label mt-4">Employee Name</label>
                <input type="text" class="form-control" id="employeeFirstNameinput" placeholder="John Doe">
            </div>

            <div class="form-group">
                <label for="employeeLastNameinput" class="form-label mt-4">Employee Name</label>
                <input type="text" class="form-control" id="employeeLastNameinput" placeholder="John Doe">
            </div>

            <div class="form-group">
                <label for="employeeEmailinput" class="form-label mt-4">Employee Email</label>
                <input type="text" class="form-control" id="employeeEmailinput" placeholder="John Doe">
            </div>
            
           <div class="form-group">
                <label for="employeePhoneinput" class="form-label mt-4">Employee Phone</label>
                <input type="text" class="form-control" id="employeePhoneinput" placeholder="John Doe">
           </div>
           
          <div class="form-group">
                    <label for="employeePositioninput" class="form-label mt-4">Employee Position</label>
                    <input type="text" class="form-control" id="employeePositioninput" placeholder="John Doe">
          </div>

        <div class="form-group">
            <label for="exampleSelect2" class="form-label mt-4">Example multiple select</label>
            <select multiple="" class="form-select" id="exampleSelect2">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <br/>
        <br/>

        <button type="button" class="btn btn-outline-primary text-center">Search</button>
        <button type="button" class="btn btn-outline-secondary text-center">Reset</button>
        <button type="button" class="btn btn-outline-success text-center">Select</button>
        </form>


</body>