@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> Please Login </h2>
 <form method=post>
     <div>
         <p>Username</p>
         <input type="text" id="username" name="username" asp-for="Username" />
         <br />
         <p>Password</p>
         <input type="text" id="password" name="password" asp-for="Password" />
<br />
<button type="submit">Login</button>
     </div>
 </form>
</div>
