html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


#EmployeeSearch{
margin-bottom: 50px;
}

header{
    margin-top:20px;
    margin-bottom:20px;
}

#timeCardForm{

    margin-bottom:50px;
}



